.container {
    max-width: 600px;
    margin: 0 auto;
    border: 3px solid grey;
    padding: 30px;
}

.news-company {
    font-weight: 800;
}

header h1 {
    margin: 5px 0;
}

.header-desc {
    text-align: right;
}

.time-desc {
    font-size: 12px;
    color: #909090;
}

.white-button {
    background-color: #fff;
    border: 1px solid #606060;
    padding: 5px 10px;
}

.img-box {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 20px 0 20px;
}

.img-box img {
    width: 100%;
}

.img-box > span {    /*자식 선택자 사용 (안써도 무방)*/
    width: 100%;
    color: #909090;
    font-size: 13px;
}

.para-group {
    margin: 50px 0;
    border-top: 1px solid #000;
}

.para-group p {
    font-size: 16px;
    color: #606060;
    text-indent: 16px;
}

footer {
    padding: 5px 30px;
}

.link-group {
    margin: 0 0 30px 0;
}

.link-group h4 {
    margin: 2px 0;
}

.link-group ul {
    list-style: square;
}

.link-group li {
    margin: 5px;
}

.link-group li > a, .link-group li > a:visited {    /*링크를 방문해도 달라지지 않도록*/
    color: #606060;
    font-weight: 800;
}

.link-group li > a:hover {  /*마우스가 링크 위에 접근*/
    color: red;
    font-weight: 800;
}

/* .link-group li > a:visited {  
    color: #606060;
    font-weight: 800;
} */
