body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.best_img h4 { 
  display: block;
  text-align: center;
}

.best_img { 
  display: block;
  text-align: center;
}

.best_img img {
  max-width: 600px; min-width: 200px;
  max-height: 500px; min-height: 200px;
  margin: auto;
  align-items: center;
}

.best_img a {
  color: red;
}


.friends_link h3 {
  text-align: center;
}

.friends_link a {
  display: block;
  text-align: center;
  font-size: larger;
}

.friends_link ul{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.friends_link li{
  font-style: italic;
}

.list {
  text-align: center;
}

.list ol{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.list li{
  font-style: italic;
}

h6 {
  text-align: center;
}

p {
  background-color: aqua;
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}









.navbar {
  background-color: #313236;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}



